body {
  display: flex;
  align-items: center;
  background-color: rgb(127, 157, 157);
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.parent {
  background: #30d073;
  height: 400px;
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.child {
  background-color: #2c39ca; 
  width: 90%;
  height: 120px;
  position: relative;
  top: 3%;
  right: 3%;
  bottom: 50%;
  left: 3%;
  transform: scaleY(0.5);
  transform-origin: top;
}

.qr-code {
  max-width: 100%;
  height: auto;
}

.container {
  text-align: center;
  margin: 10px 0;
  color: black;
  margin-top: auto;
  font-size: 20px;

}
.parent .container p{
  color: #000000ea;
  font-weight: bold;
}
.parent .container h5{
  font-size: 12px;
  color: antiquewhite;
}
.attribution {
  margin-top: auto;
  font-size: 15px;
  color: #777;
}
